body {
  background-color: #96A8C8;
  font-family: Lucida,Helvetica,sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-rows: 100px 300px 350px;
  gap: 5px 2px;

}

.title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.minLen {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.maxLen {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.numChar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.submitPwd {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;

  background-color: #6E7B91;
  color: #FFF;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  text-decoration: none;

}
.submitPwd:hover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;

  background-color: #FFF;
  color: #6E7B91;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  text-decoration: none;
  cursor: pointer;
}

.outputarea{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

#pwdTable{
  margin:auto;
  background-color: #6E7B91;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;

}

/*
#pwdTable .td{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}*/
